# Pandas

In [ ]:
# Install panda library
pip install pandas

In [2]:
import pandas as pd
import numpy as np

In [5]:
# Object creation
s = pd.Series([1,2,3,4,5,3])
s

0    1
1    2
2    3
3    4
4    5
5    3
dtype: int64

In [6]:
s = pd.Series([1,2,3,4,5,np.NaN,2])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    2.0
dtype: float64

In [8]:
d = pd.date_range('20220101', periods=24)
d

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(24,4), index=d, columns=list('ABCD'))
df

                   A         B         C         D
2022-01-01  0.744955 -4.297296  0.507613  0.796237
2022-01-02 -0.835655 -1.876602  1.339559 -0.407151
2022-01-03  0.301504  0.733655 -1.865457 -0.580854
2022-01-04  0.687089 -0.602390 -0.933268 -1.085714
2022-01-05 -0.404237 -0.822911  0.508938  1.758447
2022-01-06  0.971601  0.541377  0.608782 -0.773926
2022-01-07  0.204533  1.304093 -0.947005 -0.086162
2022-01-08  0.846836  0.725671 -1.835947 -1.147704
2022-01-09  0.707744  1.180486 -0.014791 -0.240641
2022-01-10 -0.360827  0.028815 -1.785696 -0.108828
2022-01-11  1.142861 -0.852213 -0.177407 -0.617741
2022-01-12 -1.337813  0.353652 -0.548876  2.193925
2022-01-13  1.111173 -0.775037 -0.641367  0.485709
2022-01-14 -0.100451 -0.585494 -1.782372 -0.144853
2022-01-15 -0.411582 -0.403462  0.246850  1.125504
2022-01-16  0.335281  1.672133 -0.331702 -0.001976
2022-01-17  1.248535 -0.553070  0.362796  0.437872
2022-01-18 -0.061015  1.545524 -0.494747  1.397977
2022-01-19  0.195109  0.212900 -2.318620  0.487404
2022-01-20  0.591765  1.179324  1.282473  0.346908
2022-01-21  0.172316 -0.291475  0.646961 -0.375952
2022-01-22  0.262912 -0.465817 -1.019277  0.128035
2022-01-23  0.522981 -0.303076 -1.562983  1.496322
2022-01-24  0.966846  1.530577  0.482495 -0.601099

In [14]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": 'loo'
    }
)


df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  loo
1  1.0 2013-01-02  1.0  3  train  loo
2  1.0 2013-01-02  1.0  3   test  loo
3  1.0 2013-01-02  1.0  3  train  loo

In [ ]:
df.to_numpy()

In [16]:
df.describe()

               A          B          C          D
count  24.000000  24.000000  24.000000  24.000000
mean    0.312602  -0.034193  -0.428044   0.186739
std     0.654379   1.303409   1.057355   0.897947
min    -1.337813  -4.297296  -2.318620  -1.147704
25%    -0.070874  -0.589718  -1.155204  -0.450577
50%     0.318393  -0.131330  -0.413225  -0.044069
75%     0.770425   0.845072   0.488774   0.564613
max     1.248535   1.672133   1.339559   2.193925

In [17]:
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,test,train
F,loo,loo,loo,loo

In [18]:
df.sort_index(axis=1,ascending=True)

                   A         B         C         D
2022-01-01  0.744955 -4.297296  0.507613  0.796237
2022-01-02 -0.835655 -1.876602  1.339559 -0.407151
2022-01-03  0.301504  0.733655 -1.865457 -0.580854
2022-01-04  0.687089 -0.602390 -0.933268 -1.085714
2022-01-05 -0.404237 -0.822911  0.508938  1.758447
2022-01-06  0.971601  0.541377  0.608782 -0.773926
2022-01-07  0.204533  1.304093 -0.947005 -0.086162
2022-01-08  0.846836  0.725671 -1.835947 -1.147704
2022-01-09  0.707744  1.180486 -0.014791 -0.240641
2022-01-10 -0.360827  0.028815 -1.785696 -0.108828
2022-01-11  1.142861 -0.852213 -0.177407 -0.617741
2022-01-12 -1.337813  0.353652 -0.548876  2.193925
2022-01-13  1.111173 -0.775037 -0.641367  0.485709
2022-01-14 -0.100451 -0.585494 -1.782372 -0.144853
2022-01-15 -0.411582 -0.403462  0.246850  1.125504
2022-01-16  0.335281  1.672133 -0.331702 -0.001976
2022-01-17  1.248535 -0.553070  0.362796  0.437872
2022-01-18 -0.061015  1.545524 -0.494747  1.397977
2022-01-19  0.195109  0.212900 -2.318620  0.487404
2022-01-20  0.591765  1.179324  1.282473  0.346908
2022-01-21  0.172316 -0.291475  0.646961 -0.375952
2022-01-22  0.262912 -0.465817 -1.019277  0.128035
2022-01-23  0.522981 -0.303076 -1.562983  1.496322
2022-01-24  0.966846  1.530577  0.482495 -0.601099

In [20]:
df.sort_values(by='B')

                   A         B         C         D
2022-01-01  0.744955 -4.297296  0.507613  0.796237
2022-01-02 -0.835655 -1.876602  1.339559 -0.407151
2022-01-11  1.142861 -0.852213 -0.177407 -0.617741
2022-01-05 -0.404237 -0.822911  0.508938  1.758447
2022-01-13  1.111173 -0.775037 -0.641367  0.485709
2022-01-04  0.687089 -0.602390 -0.933268 -1.085714
2022-01-14 -0.100451 -0.585494 -1.782372 -0.144853
2022-01-17  1.248535 -0.553070  0.362796  0.437872
2022-01-22  0.262912 -0.465817 -1.019277  0.128035
2022-01-15 -0.411582 -0.403462  0.246850  1.125504
2022-01-23  0.522981 -0.303076 -1.562983  1.496322
2022-01-21  0.172316 -0.291475  0.646961 -0.375952
2022-01-10 -0.360827  0.028815 -1.785696 -0.108828
2022-01-19  0.195109  0.212900 -2.318620  0.487404
2022-01-12 -1.337813  0.353652 -0.548876  2.193925
2022-01-06  0.971601  0.541377  0.608782 -0.773926
2022-01-08  0.846836  0.725671 -1.835947 -1.147704
2022-01-03  0.301504  0.733655 -1.865457 -0.580854
2022-01-20  0.591765  1.179324  1.282473  0.346908
2022-01-09  0.707744  1.180486 -0.014791 -0.240641
2022-01-07  0.204533  1.304093 -0.947005 -0.086162
2022-01-24  0.966846  1.530577  0.482495 -0.601099
2022-01-18 -0.061015  1.545524 -0.494747  1.397977
2022-01-16  0.335281  1.672133 -0.331702 -0.001976

In [21]:
df['A']

2022-01-01    0.744955
2022-01-02   -0.835655
2022-01-03    0.301504
2022-01-04    0.687089
2022-01-05   -0.404237
2022-01-06    0.971601
2022-01-07    0.204533
2022-01-08    0.846836
2022-01-09    0.707744
2022-01-10   -0.360827
2022-01-11    1.142861
2022-01-12   -1.337813
2022-01-13    1.111173
2022-01-14   -0.100451
2022-01-15   -0.411582
2022-01-16    0.335281
2022-01-17    1.248535
2022-01-18   -0.061015
2022-01-19    0.195109
2022-01-20    0.591765
2022-01-21    0.172316
2022-01-22    0.262912
2022-01-23    0.522981
2022-01-24    0.966846
Freq: D, Name: A, dtype: float64

In [22]:
df.head()

                   A         B         C         D
2022-01-01  0.744955 -4.297296  0.507613  0.796237
2022-01-02 -0.835655 -1.876602  1.339559 -0.407151
2022-01-03  0.301504  0.733655 -1.865457 -0.580854
2022-01-04  0.687089 -0.602390 -0.933268 -1.085714
2022-01-05 -0.404237 -0.822911  0.508938  1.758447

In [23]:
df.tail()

                   A         B         C         D
2022-01-20  0.591765  1.179324  1.282473  0.346908
2022-01-21  0.172316 -0.291475  0.646961 -0.375952
2022-01-22  0.262912 -0.465817 -1.019277  0.128035
2022-01-23  0.522981 -0.303076 -1.562983  1.496322
2022-01-24  0.966846  1.530577  0.482495 -0.601099

In [25]:
df.sort_index(axis=0)

                   A         B         C         D
2022-01-01  0.744955 -4.297296  0.507613  0.796237
2022-01-02 -0.835655 -1.876602  1.339559 -0.407151
2022-01-03  0.301504  0.733655 -1.865457 -0.580854
2022-01-04  0.687089 -0.602390 -0.933268 -1.085714
2022-01-05 -0.404237 -0.822911  0.508938  1.758447
2022-01-06  0.971601  0.541377  0.608782 -0.773926
2022-01-07  0.204533  1.304093 -0.947005 -0.086162
2022-01-08  0.846836  0.725671 -1.835947 -1.147704
2022-01-09  0.707744  1.180486 -0.014791 -0.240641
2022-01-10 -0.360827  0.028815 -1.785696 -0.108828
2022-01-11  1.142861 -0.852213 -0.177407 -0.617741
2022-01-12 -1.337813  0.353652 -0.548876  2.193925
2022-01-13  1.111173 -0.775037 -0.641367  0.485709
2022-01-14 -0.100451 -0.585494 -1.782372 -0.144853
2022-01-15 -0.411582 -0.403462  0.246850  1.125504
2022-01-16  0.335281  1.672133 -0.331702 -0.001976
2022-01-17  1.248535 -0.553070  0.362796  0.437872
2022-01-18 -0.061015  1.545524 -0.494747  1.397977
2022-01-19  0.195109  0.212900 -2.318620  0.487404
2022-01-20  0.591765  1.179324  1.282473  0.346908
2022-01-21  0.172316 -0.291475  0.646961 -0.375952
2022-01-22  0.262912 -0.465817 -1.019277  0.128035
2022-01-23  0.522981 -0.303076 -1.562983  1.496322
2022-01-24  0.966846  1.530577  0.482495 -0.601099

In [26]:
df['B']

2022-01-01   -4.297296
2022-01-02   -1.876602
2022-01-03    0.733655
2022-01-04   -0.602390
2022-01-05   -0.822911
2022-01-06    0.541377
2022-01-07    1.304093
2022-01-08    0.725671
2022-01-09    1.180486
2022-01-10    0.028815
2022-01-11   -0.852213
2022-01-12    0.353652
2022-01-13   -0.775037
2022-01-14   -0.585494
2022-01-15   -0.403462
2022-01-16    1.672133
2022-01-17   -0.553070
2022-01-18    1.545524
2022-01-19    0.212900
2022-01-20    1.179324
2022-01-21   -0.291475
2022-01-22   -0.465817
2022-01-23   -0.303076
2022-01-24    1.530577
Freq: D, Name: B, dtype: float64

In [27]:
df[0:2]      #rowwise selection

                   A         B         C         D
2022-01-01  0.744955 -4.297296  0.507613  0.796237
2022-01-02 -0.835655 -1.876602  1.339559 -0.407151

In [31]:
df.loc[d[2:4], ['A']]   #data for specific date

                   A
2022-01-03  0.301504
2022-01-04  0.687089

In [29]:
df.loc[:,['A','B']]

                   A         B
2022-01-01  0.744955 -4.297296
2022-01-02 -0.835655 -1.876602
2022-01-03  0.301504  0.733655
2022-01-04  0.687089 -0.602390
2022-01-05 -0.404237 -0.822911
2022-01-06  0.971601  0.541377
2022-01-07  0.204533  1.304093
2022-01-08  0.846836  0.725671
2022-01-09  0.707744  1.180486
2022-01-10 -0.360827  0.028815
2022-01-11  1.142861 -0.852213
2022-01-12 -1.337813  0.353652
2022-01-13  1.111173 -0.775037
2022-01-14 -0.100451 -0.585494
2022-01-15 -0.411582 -0.403462
2022-01-16  0.335281  1.672133
2022-01-17  1.248535 -0.553070
2022-01-18 -0.061015  1.545524
2022-01-19  0.195109  0.212900
2022-01-20  0.591765  1.179324
2022-01-21  0.172316 -0.291475
2022-01-22  0.262912 -0.465817
2022-01-23  0.522981 -0.303076
2022-01-24  0.966846  1.530577

In [34]:
df.at[d[0],'A']

0.7449546807530342

In [36]:
df.iloc[3:6]

                   A         B         C         D
2022-01-04  0.687089 -0.602390 -0.933268 -1.085714
2022-01-05 -0.404237 -0.822911  0.508938  1.758447
2022-01-06  0.971601  0.541377  0.608782 -0.773926

In [37]:
df.iloc[0:5,0:3]

                   A         B         C
2022-01-01  0.744955 -4.297296  0.507613
2022-01-02 -0.835655 -1.876602  1.339559
2022-01-03  0.301504  0.733655 -1.865457
2022-01-04  0.687089 -0.602390 -0.933268
2022-01-05 -0.404237 -0.822911  0.508938

In [39]:
df[df["A"]>1]

                   A         B         C         D
2022-01-11  1.142861 -0.852213 -0.177407 -0.617741
2022-01-13  1.111173 -0.775037 -0.641367  0.485709
2022-01-17  1.248535 -0.553070  0.362796  0.437872

In [40]:
df[df>0]

                   A         B         C         D
2022-01-01  0.744955       NaN  0.507613  0.796237
2022-01-02       NaN       NaN  1.339559       NaN
2022-01-03  0.301504  0.733655       NaN       NaN
2022-01-04  0.687089       NaN       NaN       NaN
2022-01-05       NaN       NaN  0.508938  1.758447
2022-01-06  0.971601  0.541377  0.608782       NaN
2022-01-07  0.204533  1.304093       NaN       NaN
2022-01-08  0.846836  0.725671       NaN       NaN
2022-01-09  0.707744  1.180486       NaN       NaN
2022-01-10       NaN  0.028815       NaN       NaN
2022-01-11  1.142861       NaN       NaN       NaN
2022-01-12       NaN  0.353652       NaN  2.193925
2022-01-13  1.111173       NaN       NaN  0.485709
2022-01-14       NaN       NaN       NaN       NaN
2022-01-15       NaN       NaN  0.246850  1.125504
2022-01-16  0.335281  1.672133       NaN       NaN
2022-01-17  1.248535       NaN  0.362796  0.437872
2022-01-18       NaN  1.545524       NaN  1.397977
2022-01-19  0.195109  0.212900       NaN  0.487404
2022-01-20  0.591765  1.179324  1.282473  0.346908
2022-01-21  0.172316       NaN  0.646961       NaN
2022-01-22  0.262912       NaN       NaN  0.128035
2022-01-23  0.522981       NaN       NaN  1.496322
2022-01-24  0.966846  1.530577  0.482495       NaN

In [41]:
df2 = df.copy()

In [44]:
df2['E'] = [1,2,3,4,5,6,4,4,3,2,1,1,1,1,1,1,12,2,3,4,54,2,3,3]
df2

                   A         B         C         D   E
2022-01-01  0.744955 -4.297296  0.507613  0.796237   1
2022-01-02 -0.835655 -1.876602  1.339559 -0.407151   2
2022-01-03  0.301504  0.733655 -1.865457 -0.580854   3
2022-01-04  0.687089 -0.602390 -0.933268 -1.085714   4
2022-01-05 -0.404237 -0.822911  0.508938  1.758447   5
2022-01-06  0.971601  0.541377  0.608782 -0.773926   6
2022-01-07  0.204533  1.304093 -0.947005 -0.086162   4
2022-01-08  0.846836  0.725671 -1.835947 -1.147704   4
2022-01-09  0.707744  1.180486 -0.014791 -0.240641   3
2022-01-10 -0.360827  0.028815 -1.785696 -0.108828   2
2022-01-11  1.142861 -0.852213 -0.177407 -0.617741   1
2022-01-12 -1.337813  0.353652 -0.548876  2.193925   1
2022-01-13  1.111173 -0.775037 -0.641367  0.485709   1
2022-01-14 -0.100451 -0.585494 -1.782372 -0.144853   1
2022-01-15 -0.411582 -0.403462  0.246850  1.125504   1
2022-01-16  0.335281  1.672133 -0.331702 -0.001976   1
2022-01-17  1.248535 -0.553070  0.362796  0.437872  12
2022-01-18 -0.061015  1.545524 -0.494747  1.397977   2
2022-01-19  0.195109  0.212900 -2.318620  0.487404   3
2022-01-20  0.591765  1.179324  1.282473  0.346908   4
2022-01-21  0.172316 -0.291475  0.646961 -0.375952  54
2022-01-22  0.262912 -0.465817 -1.019277  0.128035   2
2022-01-23  0.522981 -0.303076 -1.562983  1.496322   3
2022-01-24  0.966846  1.530577  0.482495 -0.601099   3

In [45]:
summary_ave_data = df.copy()
summary_ave_data['average'] = summary_ave_data.mean(numeric_only=True, axis=1)
summary_ave_data

                   A         B         C         D   average
2022-01-01  0.744955 -4.297296  0.507613  0.796237 -0.562123
2022-01-02 -0.835655 -1.876602  1.339559 -0.407151 -0.444962
2022-01-03  0.301504  0.733655 -1.865457 -0.580854 -0.352788
2022-01-04  0.687089 -0.602390 -0.933268 -1.085714 -0.483571
2022-01-05 -0.404237 -0.822911  0.508938  1.758447  0.260059
2022-01-06  0.971601  0.541377  0.608782 -0.773926  0.336958
2022-01-07  0.204533  1.304093 -0.947005 -0.086162  0.118865
2022-01-08  0.846836  0.725671 -1.835947 -1.147704 -0.352786
2022-01-09  0.707744  1.180486 -0.014791 -0.240641  0.408200
2022-01-10 -0.360827  0.028815 -1.785696 -0.108828 -0.556634
2022-01-11  1.142861 -0.852213 -0.177407 -0.617741 -0.126125
2022-01-12 -1.337813  0.353652 -0.548876  2.193925  0.165222
2022-01-13  1.111173 -0.775037 -0.641367  0.485709  0.045120
2022-01-14 -0.100451 -0.585494 -1.782372 -0.144853 -0.653293
2022-01-15 -0.411582 -0.403462  0.246850  1.125504  0.139327
2022-01-16  0.335281  1.672133 -0.331702 -0.001976  0.418434
2022-01-17  1.248535 -0.553070  0.362796  0.437872  0.374033
2022-01-18 -0.061015  1.545524 -0.494747  1.397977  0.596935
2022-01-19  0.195109  0.212900 -2.318620  0.487404 -0.355802
2022-01-20  0.591765  1.179324  1.282473  0.346908  0.850117
2022-01-21  0.172316 -0.291475  0.646961 -0.375952  0.037963
2022-01-22  0.262912 -0.465817 -1.019277  0.128035 -0.273537
2022-01-23  0.522981 -0.303076 -1.562983  1.496322  0.038311
2022-01-24  0.966846  1.530577  0.482495 -0.601099  0.594705